a:link{color: #FFFFFF;}
a:visited{color: #FFFFFF;}
a:hover{color: #a9a9a9;}
a:active{color: #FFFFFF;}

a {
text-decoration: none;
}

body {
	text-align: center;
	background-image: url(background.jpg);
	color:#FFFFFF;
	background-position: center center;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
  	background-color: #464646;
}

div#wrapper {  
    width: 800px;  
    margin: 0 auto;  
    text-align: left;  
    border: 1px solid #FF0000;
}

nav{
	font-size:60%;
}

h1{
	font-family: 'Kozuka Mincho Pro', 'Kozuka Mincho Std', '小塚明朝 Pro R', '小塚明朝 Std R', 'Hiragino Mincho Pro', 'ヒラギノ明朝 Pro W3','ＭＳ Ｐ明朝','MS PMincho', Georgia, Times, Baskerville, Palatino, serif;
	font-size:400%;
}

h2{
	font-family: 'Kozuka Mincho Pro', 'Kozuka Mincho Std', '小塚明朝 Pro R', '小塚明朝 Std R', 'Hiragino Mincho Pro', 'ヒラギノ明朝 Pro W3','ＭＳ Ｐ明朝','MS PMincho', Georgia, Times, Baskerville, Palatino, serif;
	font-weight: 200%
}

h3{
	font-family: 'Kozuka Mincho Pro', 'Kozuka Mincho Std', '小塚明朝 Pro R', '小塚明朝 Std R', 'Hiragino Mincho Pro', 'ヒラギノ明朝 Pro W3','ＭＳ Ｐ明朝','MS PMincho', Georgia, Times, Baskerville, Palatino, serif;
	font-weight:150%;
}

p{
		font-weight:100%;
}
