a:link{color: #FFFFFF;}
a:visited{color: #FFFFFF;}
a:hover{color: #a9a9a9;}
a:active{color: #FFFFFF;}

a {
text-decoration: none;
}

body {
	text-align: center;
	background:linear-gradient(#fa8072,#ff0000);
	color:#FFFFFF;
}

div#wrapper {  
    width: 800px;  
    margin: 0 auto;  
    text-align: left;  
    border: 1px solid #FF0000;
}

nav{
	font-size:150%;
}

h1{
	font-family: "ＭＳ Ｐ明朝","ＭＳ 明朝",serif;
	font-size:800%;
}

h2{
	font-family: "ＭＳ Ｐ明朝","ＭＳ 明朝",serif;
	font-weight: 200%
}

h3{
	font-family: "ＭＳ Ｐ明朝","ＭＳ 明朝",serif;
	font-weight:150%;
}

p{
		font-weight:100%;
}
